.save-button {
    position: absolute; /* Position the button relative to the grid item */
    top: 5px; /* Adjust position from top */
    right: 5px; /* Adjust position from right */
    width: 30px; /* Set width of the button */
    height: 30px; /* Set height of the button */
    border-radius: 50%; /* Make the button circular */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white; /* Button text color */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.save-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darken button on hover */
}

.like-button {
  background-color: #C1AC95; 
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 2px 7px; /* Add padding for better appearance */
  border-radius: 3px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.like-button:hover {
  background-color: #B5CDA3; 
}

/* Add new style for the download button */
.download-button {
    display: none; /* Hide download button by default */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Show download button when hovering over the grid item */
.grid-item:hover .download-button {
    display: block;
}
