#navBar {
  background-color: #C1AC95;
  overflow: hidden;
}

#navBar a {
  float: left;
  display: block;
  color: white; /* Color of the links */
  text-align: center;
  padding: 14px 20px; /* Padding for each link */
  text-decoration: none;
}

#navBar a:hover {
  background-color: #B5CDA3; 
  color: black; 
}


h2 {
  color: #C1AC95;
}
.title {
  color: #B5CDA3;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.divider {
  padding: 0 1rem;
}

body {

  background-color: #FAEBE0;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;

}


